@model RAS.TimeSheets.MVC.ReportParametersJson

@{
    ViewBag.Title = "PersonelsAndProjects";
}

<script src="~/Scripts/DatePicker/html5shiv.js"></script>
<script src="~/Scripts/DatePicker/respond.min.js"></script>
<script src="~/Scripts/DatePicker/moment.min.js"></script>
<script src="~/Scripts/DatePicker/moment-jalaali.js"></script>
<script src="~/Scripts/DatePicker/daterangepicker-fa-ex.js"></script>
<script src="~/Scripts/DatePicker/daterangepicker.js"></script>

<div class="panel panel-info ras-center" style="margin-top:10px;width:80%">
    <div style="text-align:center" class="panel-heading">گزارش پرسنل و پروژه ها</div>
    <div class="panel-body">
        @using (Html.BeginForm("PersonelsAndProjects", "Reports", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row ras-margin-top-10">

                <div class="col-md-2 ras-margin-top-10"> <b>از تاریخ</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control jalali-datepicker" } })
                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row ras-margin-top-10">
                <div class="col-md-2 ras-margin-top-10"> <b>تا تاریخ</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control  jalali-datepicker" } })

                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.UserIds, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-top:10px">
                        @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserIds, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjetIds, "انتخاب پروژه ها", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-top:10px">
                        @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjetIds, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="row" style="margin-top:20px">
                <div class="col-md-4" style="margin:5px">
                    <div class="row ras-center" style="margin-right:18%">   <b>انتخاب کاربران</b></div>
                    <label style="margin-top:10px">

                        @Html.ListBoxFor(m => m.UserIds, new SelectList(ViewBag.Users, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" }, @multiple = "multiple" })


                    </label>
                    <div class="row">
                        @Html.ValidationMessageFor(model => model.UserIds, "", new { @class = "text-danger" })

                    </div>
                </div>
                    <div class="col-md-4" style="margin:5px">
                        <div class="row ras-center" style="margin-right:18%"><b> انتخاب پروژه ها</b></div>
                        <label style="margin-top:10px">

                            @Html.ListBoxFor(m => m.ProjetIds, new SelectList(ViewBag.Projects, "Value", "Text"), new { htmlAttributes = new { @class = "form-control col-md-5" }, @multiple = "multiple" })

                        </label>
                        <div class="row">
                            @Html.ValidationMessageFor(model => model.ProjetIds, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            <div class="row">

                <input type="submit" style="margin-top:10px;margin-right:10px" value="نمایش" class="btn btn-success pull-right" />

            </div>


        }

    </div>
</div>




